.custom-combobox {
    width: 100%;
}

.container {
    max-width: 100%;
}
  
.table-wrapper {
    overflow-x: auto;
    display: inline-block;
}

.slds-table {
    width: 100%;
}

.slds-table .column {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border: 1px solid;
}

.data-cell {
    text-align: center;
}

.custom-input-container{
  padding-top: 18px;
}